h3 {
  all: initial;
}

.sidebar-header {
  color: #cccccc;
  line-height: 22px;
  background-color: #181818;
  border-top: 1px solid #2b2b2b;
  border-right: 1px solid #181818;
  border-left: 0px;
  border-bottom: 0px;
  border-radius: 0%;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 11px;
  font-weight: 700;
  height: 22px;
  overflow: hidden;
  white-space: normal;
  width: 100%;
  -webkit-user-drag: element;
  -webkit-user-select: none;
  user-select: none;
  padding-left: 0px;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 0;
  flex: 0 0 auto;
}

.sidebar-header > * {
  pointer-events: none;
}

button > span.codicon {
  font: normal normal normal 16px/1 codicon;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button[data-state="closed"] > span.codicon::before {
  content: "\eab6";
}

button[data-state="open"] > span.codicon::before {
  content: "\eab4";
}

/* Collapsible container */
div[data-collapsible] {
  display: flex;
  flex-direction: column;
}

div[data-collapsible]:has(div.collapsible-content[data-state="open"]) {
  flex: 1 1 auto;
  overflow: hidden;
}

/* Collapsible content */
.collapsible-content[data-state="open"] {
  display: block;
  flex: 0 1 auto;
  flex-flow: wrap;
  animation: 0.2s linear collapsible-open;
}

.collapsible-content[data-state="open"]:hover {
  overflow-y: scroll;
}

.collapsible-content[data-sate="open"] {
  animation: 0.2s linear collapsible-closed;
}

.collapsible-content[data-state="open"] > div {
  width: 100%;
}

@keyframes collapsible-open {
  from {
    height: 0;
  }

  to {
    height: var(--qwikui-collapsible-content-height);
  }
}

@keyframes collapsible-closed {
  from {
    height: var(--qwikui-collapsible-content-height);
  }

  to {
    height: 0;
  }
}
