.tabButton {
  align-items: center;
  border: 1px solid var(--vscode-button-border, transparent);
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  line-height: 18px;
  padding: 4px;
  text-align: center;
  width: 300px;
  color: #ffffff;
  background-color: #0078d4;
}

.tabButton:focus {
  outline-offset: 2px !important;
  opacity: 1;
  outline-color: #026ec1;
  outline-style: solid;
  outline-width: 1px;
}

.tabButton:hover {
  text-decoration: none !important;
  background-color: #026ec1;
}
