.link-button {
  align-items: center;
  border: 1px solid var(rgba(255, 255, 255, 0.07), transparent);
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  /* display: flex; */
  justify-content: center;
  line-height: 18px;
  padding: 4px;
  text-align: center;
  width: 100%;
  color: #ffffff;
  background-color: #0078d4;
}

.link-button:hover {
  text-decoration: none !important;
  background-color: #026ec1;
}

.link-button:focus {
  outline-offset: 2px !important;
  opacity: 1;
  outline-color: #026ec1;
  outline-style: solid;
  outline-width: 1px;
}

.button-container {
  max-width: 300px;
  width: 100%;
}
